html {
  background-image: url("./images/just_dine_back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  max-width: 1000px;
  min-width: 1000px
}
