.loading-message {
  font-family: gill sans;
  font-size: 4em;
  color: red;
  margin-bottom: 10px;
  text-align: center;
  background-color: white;
  border-style: solid;
  padding: 10px
}
* {
  /* cursor: url(/colours-small.png), auto; */
  cursor: default;
}
