#page-header {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  background-color: #FFD5CB;
  border-style: solid;
  border-width: 3px;
  border-color: #FF0000;
  padding: 5px;
  grid-gap: 1em;
}

#logo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 1em;
  max-width: 300px;
  border-style: solid;
  border-width: 0px 4px 0px 0px;
  border-color: #FF0000;
}

#logo > img {
  border-style: solid;
  border-color: #FF0000;
  border-width: 2px;
  max-width: 150px;
  min-width: 150px;
}

#logo > h1 {
  font-family: gill sans;
  font-size: 1.7em;
  color: #FF0000;
  margin: 0;
}

#search-box {
  display: grid;
  grid-template-rows: auto 1fr;
  border-style: solid;
  border-width: 0px 4px 0px 0px;
  border-color: #FF0000;
  padding-right: 4px;
}

#search-box > h2 {
  font-family: gill sans;
  font-size: 2em;
  color: red;
  margin-bottom: 10px;
  text-align: center;

};
