.list-header {
  font-family: gill sans;
  color: white;
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-width: 2px;
  margin-bottom: 5px;
  padding: 2px;
}



.restaurant-list {
  display: grid;
  grid-template-columns: 1fr;
  border-style: solid;
  border-width: 0px 3px 3px 3px;
  border-color: #FF0000;
  margin-top: 0;
  padding: 4px;
}
